body {
  background-color: #7d2e01;
}

h1 {
  color: #FF8C00;
  border: 1px solid #FF8C00;
  border-radius: 8px;
  padding: 5px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

a {
  color: #FF8C00;
  border: 1px solid #FF8C00;
  border-radius: 8px;
  padding: 5px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

p {
  color: #FF8C00;
  text-align: center;
}
