body {
  background-color: #7d2e01;
}

h1 {
  color: #FF8C00;
  text-align: center;
  border: 2px solid red;
  border-radius: 8px;
  padding: 5px;
  width: 60%;
  border: 1px solid #4CAF50;
}

a {
  color: #FF8C00;
  text-align: center;
}

p {
  color: #FF8C00;
  text-align: center;
}
