body {
  background-color: #7d2e01;
}

h1 {
  color: #FF8C00;
  text-align: center;
}

a {
  color: #FF8C00;
  text-align: center;
  border: 1px solid #FF8C00;
}

p {
  color: #FF8C00;
  text-align: center;
}
